In [0]:
import pandas as pd

In [0]:
df_transactions = pd.read_csv("data/kkbox/transactions.csv")
df_train = pd.read_csv("data/kkbox/train.csv")
df_combined = pd.merge(df_train, df_transactions, how='left', on="msno")

In [0]:
# remove unused variables from the environment
del df_train
del df_transactions

In [4]:
df_combined.head()
df_combined.shape  # (15883148, 10)

(15883148, 10)

In [5]:
df_combined.describe()

,is_churn,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
count,1.588315e+07,1.588315e+07,1.588315e+07,1.588315e+07,1.588315e+07,1.588315e+07,1.588315e+07,1.588315e+07,1.588315e+07
mean,4.316342e-02,3.921838e+01,2.967551e+01,1.313862e+02,1.359501e+02,9.250705e-01,2.015856e+07,2.015966e+07,1.737722e-02
std,2.032249e-01,3.308641e+00,1.584821e+01,7.186942e+01,6.835913e+01,2.632775e-01,6.181986e+03,6.786282e+03,1.306723e-01
min,0.000000e+00,2.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.015010e+07,1.970010e+07,0.000000e+00
25%,0.000000e+00,3.900000e+01,3.000000e+01,9.900000e+01,9.900000e+01,1.000000e+00,2.015103e+07,2.015121e+07,0.000000e+00
50%,0.000000e+00,4.100000e+01,3.000000e+01,1.490000e+02,1.490000e+02,1.000000e+00,2.016052e+07,2.016062e+07,0.000000e+00
75%,0.000000e+00,4.100000e+01,3.000000e+01,1.490000e+02,1.490000e+02,1.000000e+00,2.016102e+07,2.016112e+07,0.000000e+00
max,1.000000e+00,4.100000e+01,4.500000e+02,2.000000e+03,2.000000e+03,1.000000e+00,2.017023e+07,2.017033e+07,1.000000e+00

In [6]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15883148 entries, 0 to 15883147
Data columns (total 10 columns):
msno                      object
is_churn                  int64
payment_method_id         int64
payment_plan_days         int64
plan_list_price           int64
actual_amount_paid        int64
is_auto_renew             int64
transaction_date          int64
membership_expire_date    int64
is_cancel                 int64
dtypes: int64(9), object(1)
memory usage: 1.3+ GB

In [0]:
# Save to file
df_combined.to_csv("data/kkbox/combined_v1.csv", index=False)